<html>
<body>
<?php

$db_config['servername'] = "localhost";
$db_config['username'] = "ecollect_ctlquiz";
$db_config['password'] = "password";
$db_config['dbname'] = "ecollect_ctlquiz";

?>
</body>
</html>